/***** Google Fonts *****/

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v4/mrl8jkM18OlOQN8JLgasDxM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}

@font-face {
  font-family: 'FF Nexus Sans';
  src: url('../fonts/FF Nexus Sans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*
****************************************
-------  Global Resets
****************************************
*/

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: #32D784;
  color: #fff;
}

::selection {
  background-color: #32D784;
  color: #fff;
}

html, body { height: 100%; }

body {
  font: 18px 'FF Nexus Sans', Helvetica, Arial, sans-serif;
  color: #29363D;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'FF Nexus Sans', Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 1em 0;
}

body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a { text-decoration: none; color: #29363D;}
a:hover { border-bottom: 1px solid #29363D; }
a:visited { color: #666; }

.left {
float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.nodisplay {
  display: none;
}

.gray {
  color: #666;
}

.circular {
  border-radius: 50%;
}

.center {
  text-align: center;
}

/*
****************************************
-------  Home
****************************************
*/

/* *********************** */
/* ***** Header Area ***** */
/* *********************** */


header {
  background-color: #29363D;
  height: 100px;
  border-bottom: 4px solid #0a5;
}

#site-header {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 720px;
  width: 100%;
}

header a,
header a:hover,
header a:visited {
  color: #eee;
}
header a {
  text-decoration: none;
  font-size: 1em;
  font: 16px 'FF Nexus Sans', Helvetica, Arial, sans-serif;
  -webkit-transition: color .25s linear;
     -moz-transition: color .25s linear;
      -ms-transition: color .25s linear;
       -o-transition: color .25s linear;
          transition: color .25s linear;
}
header a:hover {
  color: #0a5;
}

header h1 {
  margin: 0;
  float: left;
}

header h1 a {
  font-size: 1em;
  font-size: 36px;
  font-family: 'FF Nexus Sans', Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 1px #000;
  font-weight: normal;
  line-height: 100px;
}

header h1 a:hover {
  border: none;
  color: #eee;
}

header nav {
  height: 100px;
  float: right;
}

header nav a {
  margin-right: 10px;
  padding: 2px 4px;
  line-height: 100px;
}

/* ******************************* */
/* **** Main page: Posts list **** */
/* ******************************* */

#main-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 720px;
  width: 100%;
}

.post {
  margin: 40px 0;
  padding: 1px 0;
}

.post-title {
  margin: 20px 0;
}

.post-title a {
  font: 30px 'FF Nexus Sans', Helvetica, Arial, sans-serif;
  color: #29363D;
}

.post-date {
  color: #666;
  font-size: 15px;
}

.post-desc {
  margin: 20px 0;
  font-size: 18px;
  line-height: 30px;
}

.post-link a {
  color: #0a5;
}

.post-link a:hover {
  border-bottom: 1px solid #0a5;
}

/* *************************** */
/* ***** Post Entry Page ***** */
/* *************************** */

#post-title {
  margin: 60px 0 20px;
  font-size: 45px;
}

#post-date {
  margin: 20px 0 60px;
  color: #666;
  font-size: 16px;
}

#post-content h2 {
  font-size: 30px
}

#post-content h3 {
font-size: 25px;
font-weight: normal;
}

#post-content a {
  color: #0a5;
  text-decoration: none;
  border-bottom: 1px dotted #666;
}
#post-content a:hover {
  color: #0a5;
}
#post-content a:visited {
  color: #666;
}

#post-content p {
  margin: 30px 0;
  font-size: 20px;
  line-height: 30px;
}

#post-content h3 {
  margin: 1.3em 0;
  font-size: 24px;
}

#post-content blockquote {
  padding: 4px 0;
  padding-left: 20px;
  border-left: 5px solid #3AD788;
}

#post-content blockquote p {
  margin: 10px 0;
  color: #aaa;
}
#post-content blockquote p:first-child {
  margin-top: 0;
}

#post-content blockquote p:last-child {
  margin-bottom: 0;
}

#post-content ul, ol {
  margin: 30px 0 30px 20px;
}

#post-content li {
  margin: 10px 0;
}

#post-content hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #fff 30%, #888, #fff 70%);
    background-image:    -moz-linear-gradient(left, #fff 30%, #888, #fff 70%);
    background-image:     -ms-linear-gradient(left, #fff 30%, #888, #fff 70%);
    background-image:      -o-linear-gradient(left, #fff 30%, #888, #fff 70%);
    background-image:         linear-gradient(left, #fff 30%, #888, #fff 70%);
}

#post-content .u {
  text-decoration: underline;
}

#post-content .c {
  text-align: center;
}


#post-content span.green {
  color: #0a5;
}


#post-content pre.terminal .d {
  color: #3ce03c !important;
  font-weight: bold !important;
}

#post-content table {
  margin: 30px auto;
}

#post-content td, #post-content th {
  padding: 8px 90px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  line-height: 20px;
}

/* *********************************************** */

#site-footer {
  margin: 30px auto 0;
  padding: 0 20px;
  max-width: 720px;
  width: 100%;
  font-size: 1em;
}

footer a,
footer a:visited {
  color: #0a5;
}
footer a:hover {
  border: none;
}

#site-footer div {
  border-top: 1px solid #ccc;
}

#site-footer div a {
  padding: 30px 0;
  display: inline-block;
  width: 24%;
  text-align: center;

}

/*
****************************************
-------  Posts
****************************************
*/

.highlight {
  background-color: #F7F9FA;
  margin: 30px 0;
}

code, kbd, pre, samp {
  font-family: 'Source Code Pro', courier,  monospace;
  font-size: 14px;
}

pre, code {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

pre {
  padding: 10px ;
  background-color: #F7F9FA;
}

code {
  background-color: #F7F9FA;
  padding: 3px 5px;
}

pre code {
  border: none;
  padding: 0;
}

/* terminal */
pre.terminal {
  margin: 30px 0;
  border: 1px solid #000;
  background-color: #29363D;
  color: #FFF;
  box-shadow: inset 0 0 8px 0 #131F25;
  border-radius: 3px;
}

pre.terminal code {
  background-color: #29363D;
}

/*------------*/

/*
****************************************
-------  Media queries
****************************************
*/

@media (max-width: 720px) {
  #site-header h1 a {
    font-size: 30px;
  }
  #post-title {
    font-size: 35px;
  }
  #site-footer {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 550px) {
  #site-footer div {
    padding: 15px 0;
  }
  #site-footer div a {
    width: 49%;
    padding: 15px 0;
  }
  #site-footer div .nodisplay {
    display: block;
  }
}

@media (max-width: 520px) {
  header {
    height: auto;
  }
  #site-header {
    padding-top: 1px;
    padding-bottom: 1px;
  }
  header nav, header h1 {
    margin: 35px 0;
    height: auto;
    float: none;
    text-align: center;
  }
  header h1 a {
    line-height: 35px;
  }
  header nav a {
    line-height: 1em;
    font-size: 14px;
  }
}
