/***** Google Fonts *****/

@import url('http://fonts.googleapis.com/css?family=Lato:400,700|Source+Code+Pro|Comfortaa');
/*
****************************************
-------  Global Resets
****************************************
*/

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font: 1em 'Lato', Helvetica, Arial, sans-serif;
  color: #333;
}

h1, h2, h3 {
  font-family: 'Comfortaa', 'Lato', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #333;
}

a:visited {
  color: #333;
}

blockquote {
  padding: 2px 0;
  padding-left: 5px;
  border-left: 5px solid #bbb;
}

blockquote p {
  margin: 5px 0;
}

.clear {
  clear: both;
}

.big {
  font-size: 2.5em;
  margin-bottom: 1em;
}

/*
****************************************
-------  Home
****************************************
*/

header {
  background-color: #fff;
  height: 100px;
  border-bottom: 2px solid #3498db;
}

.header-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 720px;
  width: 100%;
}

header a, header a:hover, header a:visited {
  color: #333;
}

header h1 {
  margin: 0;
  float: left;
  line-height: 100px;
  font-weight: normal;
  font-family: 'Comfortaa', 'Lato', Helvetica, Arial, sans-serif;
}

header h1 a:hover {
  border: none;
}

header nav {
  height: 100px;
  float: right;
}

header nav a {
  margin-right: 10px;
  padding: 2px 4px;
  line-height: 100px;
}

/* *********************************************** */

#main-content {
  margin: 0 auto;
  padding: 30px 20px;
  width: 720px;
}

.posts {
  list-style-type: none;
}

.posts li {
  margin-bottom: 3em;
}

.posts li:last-child {
  margin: 0
}

.post-title {
  font-family: 'Comfortaa', 'Lato', Helvetica, Arial, sans-serif;
}

.post-date {
  color: #666;
  margin: 5px 0;
  font-size: 13px;
}

.post-excerpt {
  border-left: 5px solid #eee;
  padding: 5px 0 5px 10px;
}

/*
****************************************
-------  Posts
****************************************
*/

pre {
  padding: .3em .6em;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fafafa;
  font-family: 'Source Code Pro', courier,  monospace !important;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

code {
  border: 1px solid #ddd;
  background-color: #fafafa;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

pre.terminal code {
  background-color: #333;
}
