/* *********************** */
/* ***** Header Area ***** */
/* *********************** */

@import "mixins.less";

header {
    position: relative;
    height: @headerHeight;
    background: @primary left top / cover no-repeat;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);

    & a:hover {
        text-decoration: none;
        border: none;
    }

    @media (max-width: 720px) {
        height: auto;
        padding-bottom: 1px;
    }

    @media (max-width: 480px) {
        height: auto;
        padding-bottom: 1px;
    }
}

#site-header {
    margin: 0;
    padding: 0;
    text-align: center;
    text-shadow: 0 0 15px rgba(0, 0, 0, .3);

    & a {
        .font-family-title;
        font-size: 145px;
        font-weight: normal;
        line-height: @headerHeight;
        color: @white;
        overflow-y: hidden;

        & span {
            display: inline-block;
            max-width: 0;
            transition: max-width 0.25s linear;
            overflow-x: hidden;
            font-size: inherit;
            line-height: inherit;
            vertical-align: bottom;
        }

        &:hover span {
            max-width: 300px;
        }

        @media (max-width: 950px) {
            font-size: 100px;
        }

        @media (max-width: 720px) {
            font-size: 70px;
            line-height: 200px;
        }

        @media (max-width: 480px) {
            font-size: 60px;
            line-height: 150px;

            &:hover span {
                max-width: 0;
            }

        }
    }
}

header nav {
    position: absolute;
    margin-bottom: 20px;
    left: 0; right: 0;
    bottom: 0;
    text-align: center;

    & a {
        margin: 0 10px;
        display: inline-block;
        width: 100px; height: 100px;
        .font-family-title;
        font-size: 1.2em;
        letter-spacing: 1.5px;
        text-align: center;
        vertical-align: bottom;
        line-height: 100px;
        transition: color .2s ease-in-out,
                    background-color .2s ease-in-out,
                    border-radius .2s ease-in-out,
                    text-shadow 0.2s ease-in-out;
        color: @white;
        border-radius: 0;
        text-shadow: 0 0 6px rgba(0, 0, 0, .8);

        &:visited {
            color: @white;
        }

        &:hover {
            border-radius: 100%;
            background-color: @white;
            color: @primary;
            text-shadow: none;
        }

        @media (max-width: 480px) {
            padding: 10px 30px;
            width: auto; height: auto;
            line-height: 1.3em;
            margin: 10px 0;

            &:hover {
                border-radius: 3px;
            }
        }
    }

    @media (max-width: 720px) {
        position: static;
    }

    @media (max-width: 480px) {
        position: static;
    }

}
