<footer>
    <div id="footer-content">
        <div class="left">
            <p>Sourabh Verma</p>
        </div>
        <div class="right">
                <a href="/feed.xml"><img src="/img/rss.png" alt="rss" width="20"></a>
                <a href="mailto:sourabh.coder@gmail.com"><img src="/img/email.png" alt="Email" width="20"></a>
                <a href="http://github.com/sourabhv"><img src="/img/github.png" alt="Github" width="20"></a>
                <a href="http://twitter.com/metasourabh"><img src="/img/twitter.png" alt="Twitter" width="20"></a>
        </div>
        <div class="clear"></div>
    </div>
</footer>
