/*
****************************************
-------  fonts
****************************************
*/

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/SourceCodePro-Regular.ttf') format('truetype'),
         url('/fonts/SourceCodePro-Regular.woff') format('woff');
}

@font-face {
    font-family: 'FF Nexus Sans';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/FFNexusSans.ttf') format('truetype'),
         url('/fonts/FFNexusSans.woff') format('woff');
}

@font-face {
    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/BreeSerif-Regular.ttf') format('truetype'),
         url('/fonts/BreeSerif-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Lato-Regular.ttf') format('truetype'),
         url('/fonts/Lato-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/Lato-Bold.ttf') format('truetype'),
         url('/fonts/Lato-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: normal;
    src: url('/fonts/Lato-Italic.ttf') format('truetype'),
         url('/fonts/Lato-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: bold;
    src: url('/fonts/Lato-BoldItalic.ttf') format('truetype'),
         url('/fonts/Lato-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Quicksand-Regular.ttf') format('truetype'),
         url('/fonts/Quicksand-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/Quicksand-Bold.ttf') format('truetype'),
         url('/fonts/Quicksand-Bold.woff') format('woff');
}
