#site-footer {
  margin: 0 auto;
  max-width: 860px;
  width: 100%;
  font-size: 1em;
  border-top: 1px solid #666666;
}
@media (max-width: 720px) {
  #site-footer {
    padding-left: 0;
    padding-right: 0;
    padding: 5px 20px 0;
  }
}
#site-footer div a {
  padding: 30px 20px;
  display: inline-block;
  width: 25%;
  font-family: 'Bree Serif', Garamond, serif;
  text-align: center;
  color: #666666;
}
#site-footer div a:visited {
  color: #666666;
}
#site-footer div a:hover {
  border: none;
  text-shadow: none;
  text-decoration: none;
}
#site-footer div a:first-child {
  text-align: left;
}
#site-footer div a:last-child {
  text-align: right;
}
@media (max-width: 720px) {
  #site-footer div a {
    width: 50%;
    padding: 15px 0;
  }
  #site-footer div a:first-child {
    text-align: center;
  }
  #site-footer div a:last-child {
    text-align: center;
  }
}
@media (max-width: 720px) {
  #site-footer div .hidden {
    display: block;
  }
}
@media (max-width: 720px) {
  #site-footer div {
    padding: 15px 0;
  }
}
