footer {
  position: relative;
  margin-top: 00px;
  background: -webkit-linear-gradient(45deg, #39e4c2, #1ac19f) #1dd7b2;
  background: linear-gradient(45deg, #39e4c2, #1ac19f) #1dd7b2;
  box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.23), 0 -10px 40px rgba(0, 0, 0, 0.19);
}
footer:before,
footer:after {
  content: '';
  display: block;
  position: absolute;
  height: 80%;
  width: 110%;
  left: -5%;
  top: 0;
}
footer:before {
  background-color: #19b898;
  top: -25px;
  z-index: -50;
  -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
  box-shadow: 0 -3px 12px rgba(0, 0, 0, 0.23), 0 -3px 12px rgba(0, 0, 0, 0.16);
}
footer:after {
  background-color: #17aa8d;
  top: -50px;
  z-index: -100;
  -webkit-transform: rotate(1deg);
      -ms-transform: rotate(1deg);
          transform: rotate(1deg);
  box-shadow: 0 -1.5px 4px rgba(0, 0, 0, 0.24), 0 -1.5px 6px rgba(0, 0, 0, 0.12);
}
footer a {
  color: #f9f9f9;
}
footer a:visited {
  color: #f9f9f9;
}
footer a:hover {
  border: none;
}
#site-footer {
  margin: 0 auto;
  padding: 25px 20px 10px;
  max-width: 720px;
  width: 100%;
  font-size: 1em;
}
@media (max-width: 720px) {
  #site-footer {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 550px) {
  #site-footer {
    padding: 5px 20px 0;
  }
}
#site-footer div a {
  padding: 30px 0;
  display: inline-block;
  width: 24%;
  text-align: center;
}
@media (max-width: 550px) {
  #site-footer div a {
    width: 49%;
    padding: 15px 0;
  }
}
@media (max-width: 550px) {
  #site-footer div .hidden {
    display: block;
  }
}
@media (max-width: 550px) {
  #site-footer div {
    padding: 15px 0;
  }
}
