#site-footer {
  margin: 30px auto 0;
  padding: 0 20px;
  max-width: 720px;
  width: 100%;
  font-size: 1em;
}
@media (max-width: 720px) {
  #site-footer {
    padding-left: 0;
    padding-right: 0;
  }
}
footer a {
  color: #1abc9c;
}
footer a:visited {
  color: #1abc9c;
}
footer a:hover {
  border: none;
}
#site-footer div {
  border-top: 1px solid #ccc;
}
#site-footer div a {
  padding: 30px 0;
  display: inline-block;
  width: 24%;
  text-align: center;
}
@media (max-width: 550px) {
  #site-footer div a {
    width: 49%;
    padding: 15px 0;
  }
}
@media (max-width: 550px) {
  #site-footer div .hidden {
    display: block;
  }
}
@media (max-width: 550px) {
  #site-footer div {
    padding: 15px 0;
  }
}
