/* *********************** */
/* ***** Header Area ***** */
/* *********************** */
header {
  position: relative;
  height: 500px;
  background: -webkit-linear-gradient(45deg, #39e4c2, #1ac19f) #1dd7b2;
  background: linear-gradient(45deg, #39e4c2, #1ac19f) #1dd7b2;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
}
header a:hover {
  text-decoration: none;
  border: none;
}
@media (max-width: 720px) {
  header {
    height: auto;
    padding-bottom: 1px;
  }
}
@media (max-width: 480px) {
  header {
    height: auto;
    padding-bottom: 1px;
  }
}
#site-header {
  margin: 0;
  padding: 0;
  text-align: center;
}
#site-header a {
  font-family: 'Bree Serif', Garamond, serif;
  font-size: 145px;
  font-weight: normal;
  line-height: 500px;
  color: #f9f9f9;
  overflow-y: hidden;
}
#site-header a span {
  display: inline-block;
  max-width: 0;
  -webkit-transition: max-width 0.25s linear;
          transition: max-width 0.25s linear;
  overflow-x: hidden;
  font-size: inherit;
  line-height: inherit;
  vertical-align: bottom;
}
#site-header a:hover span {
  max-width: 300px;
}
@media (max-width: 950px) {
  #site-header a {
    font-size: 100px;
  }
}
@media (max-width: 720px) {
  #site-header a {
    font-size: 70px;
    line-height: 200px;
  }
}
@media (max-width: 480px) {
  #site-header a {
    font-size: 70px;
    line-height: 150px;
  }
}
header nav {
  position: absolute;
  margin-bottom: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
header nav a {
  margin: 0 10px;
  display: inline-block;
  width: 100px;
  height: 100px;
  font-family: 'Quicksand', 'Lato', 'FF Nexus Sans', Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  text-align: center;
  vertical-align: bottom;
  line-height: 100px;
  -webkit-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-radius 0.25s ease-in-out;
          transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-radius 0.25s ease-in-out;
  color: #f9f9f9;
  border-radius: 0;
}
header nav a:visited {
  color: #f9f9f9;
}
header nav a:hover {
  border-radius: 100%;
  background-color: #f9f9f9;
  color: #1dd7b2;
}
@media (max-width: 480px) {
  header nav a {
    padding: 10px 30px;
    width: auto;
    height: auto;
    line-height: 1.3em;
    margin: 10px 0;
  }
  header nav a:hover {
    border-radius: 3px;
  }
}
@media (max-width: 720px) {
  header nav {
    position: static;
  }
}
@media (max-width: 480px) {
  header nav {
    position: static;
  }
}
