/* ******************************* */
/* **** Main page: Posts list **** */
/* ******************************* */
#main-content {
  margin: 100px auto 0;
  padding: 0 20px;
  max-width: 860px;
  width: 100%;
  min-height: 800px;
}
.post {
  margin: 30px 0;
  padding: 1px 0;
}
.post-title {
  margin: 20px 0;
}
.post-title a {
  font-family: 'Bree Serif', Garamond, serif;
  font-size: 30px;
  color: #666666;
  line-height: 1.3em;
}
.post-title a:hover {
  border: none;
}
.post-date {
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  color: #666666;
  font-size: 15px;
}
.post-desc {
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  margin: 20px 0;
  font-size: 18px;
  line-height: 30px;
}
.post-link a {
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  color: #666666;
}
.post-link a:hover {
  border-bottom: 1px solid #666666;
}
/* *************************** */
/* ***** Post Entry Page ***** */
/* *************************** */
#post-title {
  margin: 60px 0 20px;
  font-size: 45px;
  line-height: 1.3em;
  font-family: 'Bree Serif', Garamond, serif;
}
@media (max-width: 720px) {
  #post-title {
    font-size: 35px;
  }
}
#post-date {
  margin: 20px 0 60px;
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #666666;
}
#post-content h2 {
  font-family: 'Bree Serif', Garamond, serif;
  font-size: 30px;
  color: #666666;
}
#post-content h3 {
  margin: 1.3em 0;
  font-family: 'Bree Serif', Garamond, serif;
  font-size: 22px;
  font-weight: normal;
  color: #666666;
}
#post-content a {
  color: #666666;
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  text-decoration: none;
}
#post-content a:visited {
  color: #666666;
}
#post-content a:hover {
  color: #666666;
  border-bottom: 1px dotted #666666;
}
#post-content p {
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  margin: 30px 0;
  font-size: 18px;
  line-height: 32px;
}
#post-content blockquote {
  padding: 15px 0;
  padding-left: 20px;
  border-left: 5px solid #666666;
  background-color: #f7f9fa;
}
#post-content blockquote p {
  margin: 10px 0;
  color: #666666;
  font-family: 'Bree Serif', Garamond, serif;
}
#post-content blockquote p:first-child {
  margin-top: 0;
}
#post-content blockquote p:last-child {
  margin-bottom: 0;
}
#post-content ul,
ol {
  margin: 30px 0 30px 20px;
}
#post-content li {
  margin: 10px 0;
  line-height: 30px;
}
#post-content hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #ffffff 30%, #888888, #ffffff 70%);
  background-image: linear-gradient(to right, #ffffff 30%, #888888, #ffffff 70%);
}
#post-content .u {
  text-decoration: underline;
}
#post-content .c {
  text-align: center;
}
#post-content span.green {
  color: #666666;
}
#post-content pre.terminal .d {
  color: #3ce03c !important;
  font-weight: bold !important;
}
#post-content table {
  margin: 30px auto;
}
#post-content td,
#post-content th {
  padding: 8px 90px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  line-height: 20px;
}
/* *************************** */
/* *****     Archive     ***** */
/* *************************** */
.archive {
  list-style: none;
}
.archive span {
  display: inline-block;
  width: 50px;
  font-weight: bold;
  color: #666666;
}
.archive a:hover {
  color: #29363d !important;
}
/* *************************** */
/* *****       Tags      ***** */
/* *************************** */
.tags span {
  display: inline-block;
  width: 90px;
}
.tags a:hover {
  color: #29363d !important;
}
/*
****************************************
-------  Code Blocks
****************************************
*/
.highlight {
  background-color: #f7f9fa;
  margin: 30px 0;
}
code,
kbd,
pre,
samp {
  font-family: 'Source Code Pro', courier, monospace;
  font-size: 14px;
}
pre,
code {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
pre {
  padding: 10px ;
  background-color: #f7f9fa;
}
code {
  background-color: #f7f9fa;
  padding: 3px 5px;
}
pre code {
  border: none;
  padding: 0;
}
/* terminal */
pre.terminal {
  margin: 30px 0;
  border: 1px solid #000;
  background-color: #29363d;
  color: #FFF;
  box-shadow: inset 0 0 8px 0 #131F25;
  border-radius: 3px;
}
pre.terminal code {
  background-color: #29363d;
}
